
body {
    font-family: 'Poppins', Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 10px 20px;
    background: linear-gradient(135deg, #673AB7, #00BCD4);
}


.counter-box {
    background: #ffffff;
    width: 350px;
    margin: 11px auto;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
    transition: 0.3s ease-in-out;
}
.counter-box:hover {
    transform: scale(1.02);
}


h2 {
    font-size: 65px;
    margin: 10px 0;
    font-weight: 700;
    color: #333;
}
h4 {
    font-size: 22px;
    color: #FFEB3B;
}


button {
    border-radius: 12px;
    padding: 14px 35px;
    margin: 8px;
    background-color: #673AB7;
    color: #fff;
    font-weight: 600;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: 0.25s ease;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
}
button:hover {
    background-color: #060606;
    transform: translateY(-3px);
    box-shadow: 0px 7px 16px rgba(0,0,0,0.25);
}
button:active {
    transform: scale(0.97);
}


.laps {
    background: #fff;
    width: 320px;
    margin: 0px auto 0;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
}

.laps h3 {
    font-size: 26px;
    color: #444;
    margin-bottom: 10px;
    font-weight: 600;
}

.laps p {
    font-size: 45px;
    font-weight: 700;
    color: #222;
}
